<!DOCTYPE html>
<html>
<h1>Message Board</h1>
{{current_user}}
<p><a class="logout-button" href="{% url 'logout' %}">Log Out</a></p>
<p><a href="{% url 'users' %}">User List</a></p>
<form method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="Submit" value = "Submit"/>
</form>
{{count}}
<table>
    <th></th>
    <th></th>


    {% for message in messages %}

    <tr>
    <td>{{message.user}}: </td> 
    <td><span title = "{{message.time}}">{{message.message}}</span></td>

    </span>
    </tr>

{% endfor %}
</table>
</html> 